<div class="center">
    {{#each erros}}
        <div style="background: rgb(255, 145, 145);">{{texto}}</div><br> <!-- Textos vindo do arquivo user.js-->
    {{/each}}
    <div class="register">
        <form action="/user/authenticationreg" method="post">
            <h1>Cadastre-se</h1>

            <br>
            <input type="text" name="nome" placeholder="Nome">
            <input type="text" name="sobrenome" placeholder="Sobrenome">
            <br>

            <p>Gênero:</p>
            <input type="radio" id="ipt-genero" name="1">Masculino
            <input type="radio" id="ipt-genero" name="2">Feminino
            <input type="radio" id="ipt-genero" name="3" checked >Não exibir
            <p>Idade:</p>
            <input type="date" name="dataNasc" id="ipt-data">
            <br>
            Seu nome de usuário:
                <br><input type="text" name="username" placeholder="Nome de usuario"><br>
            Sua senha:
                <br><input type="password" name="password" placeholder="Nova senha"><br>
            Por favor, repita sua senha:
                <br><input type="password" name="confirmpassword" placeholder="Confirme a senha"><br>


            <button id="btn">Criar Conta!</button><br>

            Já possui uma conta? <a href="/user/login">Entrar!</a>
        </form>
    </div>
</div>