<form action="/profile" method="post">
    <h1>Logar-se</h1>

    Seu nome de usuário:
        <br><input type="text" name="username" placeholder="Nome de usuario"><br>
    Sua senha:
        <br><input type="password" name="password" placeholder="Senha"><br>

    <input type="checkbox" id="remember" name="remember">Lembrar a senha

    <button id="btn">Logar!</button><br>

    Não possui uma conta? <a href="/register">Registre-se gratuitamente!</a>
</form>