<div class="center">
    <div class="welcome">
        <h1 class="titulo">CHAT-NET</h1>
        <h3 class="subtitulo">Make connections</h3>
        <form action="/user/login" method="get">
            <button class="entrar">ENTRAR</button>
        </form>
    </div>
</div>